# Python
backend/__pycache__/
backend/.venv/
backend/*.pyc

# Backend secrets
backend/.env

# Node
Landing/node_modules/
Dashboard/node_modules/
frontend/dist/

# Frontend env
Dashboard/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/